---
import { Button } from "~/components/button";
import { IndicatorCard } from "~/components/indicator-card";
import { IndicatorList } from "~/components/indicator-list";
import { PersonasSection } from "~/components/persona-section";
import { ServicesSection } from "~/components/services-section";
import Layout from "~/layouts/base.astro";
import Footer from "~/layouts/footer.astro";
import { MedicalIndicator } from "~/utils/indicator";

const indicators = [
  {
    indicator: new MedicalIndicator(90.0, "g/dL", "Гематокрит"),
    status: "normal" as const,
  },
  {
    indicator: new MedicalIndicator(90.0, "g/dL", "Гемоглобин"),
    status: "high" as const,
  },
  {
    indicator: new MedicalIndicator(90.0, "g/dL", "Гематокрит"),
    status: "normal" as const,
  },
];
---

<Layout
  title="Hemo AI"
  description="Hemo AI ваш личный советник который раскроет ваще здоровью на результате анализов крови"
>
  <h1 class="font-medium text-4xl leading-[90%]">
    Возьмите в <span class="italic">контроль</span> над вашим здоровьем
  </h1>
  <p class="font-mono text-neutral-500 text-sm font-medium pt-5">
    Hemo ваш личный советник который раскроет ваще здоровью на результате
    анализов крови
  </p>

  <div class="flex items-center gap-4 pt-10">
    <Button>Начать работу</Button>
    <p class="text-neutral-300 font-">Пока в бете</p>
  </div>

  <section class="relative flex mt-20 sm:-left-16 group">
    <div
      class="sm:group-hover:-rotate-[8deg] my-12 duration-300 ease-in-out sm:group-hover:-ml-4 sm:group-hover:mt-10 sm:group-hover:mb-14"
    >
      <IndicatorCard
        indicator={new MedicalIndicator(90.0, "g/dL", "Гемоглобин")}
        status={"high"}
        description=`Причины снижения гемоглобина равного 90.0 г/л могут быть следующими:
1. Железодефицитная анемия.
2. B12 и фолиево-дефицитная анемия.
3. Внутренние кровотечения: язвы, геморрой, полипы, донорство крови...`
      />
    </div>
    <div
      class="sm:group-hover:rotate-6 sm:-ml-10 -ml-48 sm:group-hover:-ml-5 sm:group-hover:mt-20 mt-48 sm:mt-28 duration-300 ease-in-out z-10 relative"
    >
      <IndicatorList
        indicators={indicators}
        client:load
        className="w-64 sm:w-80"
      />
    </div>
  </section>

  <PersonasSection client:load />
  <section class="py-12">
    <h2 class="text-2xl mb-6 text-neutral-800">Как это работает?</h2>
    <ol
      class="gap-4 flex flex-col font-mono font-medium text-neutral-500 list-decimal ml-7"
    >
      <li>Вы проходите анализ и получаете ваши показатели</li>
      <li>
        <span class="text-red-500 duration-150 hover:text-red-500 ease-in-out"
          >Hemo Labs</span
        > анализирует их и дает подробные рекомендации
      </li>
      <li>
        Вы получаете <span
          class="text-sky-500 duration-150 hover:text-sky-500 ease-in-out"
          >полную картину</span
        > вашего здоровья
      </li>
    </ol>
  </section>

  <ServicesSection client:load />

  <section class="my-32">
    <h2
      class="text-2xl font-medium text-center text-transparent bg-clip-text leading-5"
      style={{
        backgroundImage:
          "radial-gradient(54.05% 74.63% at 54.05% 37.32%, #EF5C43 0%, #FDD5D5 100%)",
      }}
    >
      Готовы познать <br />
      свое здоровье?
    </h2>
    <div class="relative grid place-items-center h-24 mt-8">
      <img
        src="/wires.svg"
        alt=""
        class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 scale-110"
      />
      <Button className="relative shadow-[0px_0px_80px_#FDD5D5]"
        >Начать Работу</Button
      >
    </div>
  </section>

  <Footer />
</Layout>
