---

---

<footer
  class="px-4 py-5 bg-white rounded-xl border shadow-sm border-neutral-100 grid grid-cols-2 items-end"
>
  <img src="/logo.svg" alt="logo" width="100" class="-mb-2" />
  <div class="text-sm leading-4">
    <div class="text-neutral-500 font-mono mb-1">Позвони нам</div>
    <a class="mb-4 block text-gray-900" href="tel:87714347809"
      >+7 771 434 7809</a
    >
    <div class="text-neutral-500 font-mono mb-1">Напиши нам</div>
    <a class="text-gray-900" href="mailto:saparovalmas0@gmail.com"
      >saparovalmas0@gmail.com</a
    >
  </div>
</footer>
