---
import { Button } from "~/components/button";

const url = new URL(Astro.url).pathname;
---

<nav class="fixed inset-x-0 bg-white/70 pt-8 z-10 backdrop-blur-md">
  <div
    class="grid grid-cols-3 md:text-base text-sm h-14 place-items-center z-10 mx-4 sm:mx-auto sm:max-w-md"
  >
    <a href="/" class="justify-self-start">
      <img src="/logo.svg" alt="logo" />
    </a>
    <div class="flex justify-end gap-3 items-center text-neutral-400">
      <a href="#services">Сервисы</a>
      <a href="#resources">Ресурсы</a>
    </div>
    <Button variant="outline" className="justify-self-end" size="sm"
      >Войти</Button
    >
  </div>
</nav>

<script>
  import { gsap } from "gsap";

  import { ScrollTrigger } from "gsap/ScrollTrigger";
  import { ScrollSmoother } from "~/utils/scroll";

  gsap.registerPlugin(ScrollTrigger, ScrollSmoother);

  ScrollSmoother.create({
    smooth: 1, // how long (in seconds) it takes to "catch up" to the native scroll position
    effects: window.innerWidth > 900, // looks for data-speed and data-lag attributes on elements
  });
</script>
